
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');


/* Setting global css variables */
body{
  --fontJosefin: 'Josefin Sans', sans-serif !important;
  --brandColor: #662D91;
  --purpleLight: #662d9180;
  --purpleLighter: #662d910d;
  --lime: #8DC63F;
  --limeLighter: #F4FAEE;
}

body{
  font-family: var(--fontJosefin) !important;
}

html{
  scroll-behavior: smooth;
}
/* Default link style */
a{
  text-decoration: none !important;
}
.modal{
  z-index: 99999 !important;
}
/* Default font styles */
.text-brand{
  color: var(--brandColor);
}
.text-purple-light{
  color: var(--purpleLight);
}
.text-gray{
  color: #52575c;
}
.text-light-gray{
  color: #a0a0a0;
}
.text-lime{
  color: var(--lime);
}
.text-josefin{
  font-family: var(--fontJosefin) !important;
}

.text-200{
  font-weight: 200 !important;
}
.text-300{
  font-weight: 300 !important;
}
.text-400{
  font-weight: 400 !important;
}
.text-500{
  font-weight: 500 !important;
}
.text-600{
  font-weight: 600 !important;
}

.text-18{
  font-size: 18px;
}
.text-15{
  font-size: 15px !important;
}
.text-14{
  font-size: 14px !important;
}
.text-12{
  font-size: 12px !important;
}
.text-10{
  font-size: 10px !important;
}

.text-underline{
  text-decoration: underline !important;
}
@media(max-width:991px){
  .brand-logo{
    height: 42px !important;
  }
}
@media(max-width:767px){
  .text-small{
    font-size: 17px;
  }
  .brand-logo{
    height: 40px;
  }
}
@media(max-width:575px){
  .text-header-small{
    font-size: 28px;
  }
  .button-small{
    font-size: 15px !important;
  }
}

.text-extra-large{
  font-size: 50px;
}

.card-shadow{
  box-shadow: #9668b83b 0px 2px 8px 0px;
}

/* Background style */
.bg-brand{
  background-color: var(--brandColor);
}
.bg-purple-light{
  background-color: var(--purpleLight);
}
.bg-purple-lighter{
  background-color: var(--purpleLighter);
}
.bg-lime{
  background-color: var(--lime);
}
.bg-lime-lighter {
  background-color: var(--limeLighter);
}
.line-height-0 {
  line-height: 0 !important;
}
.line-height-1 {
  line-height: 1 !important;
}
.cursor-pointer{
  cursor: pointer !important;
}
.gray-line{
  border-top: 1px solid #9e9e9e;
}
/* Default button styles */
button:focus{
  box-shadow: none !important;
  outline: none !important;
}
.rounded-fill-btn {
  background-color: var(--brandColor);
  border: 2px solid var(--brandColor);
  color: white !important;
  text-transform: capitalize;
  border-radius: 30px;
  font-weight: 600;
  padding: 12px 35px;
  transition: all 0.3s ease;
  font-size: 17px;
}

.rounded-fill-btn:hover{
  background-color: var(--purpleLighter);
  color: var(--brandColor) !important;
}

.rounded-outline-btn {
  background-color: var(--purpleLighter);
  border: 2px solid var(--purpleLight);
  color: var(--brandColor);
  text-transform: capitalize;
  font-weight: 600;
  border-radius: 30px;
  padding: 12px 35px;
  transition: all 0.3s ease;
  font-size: 17px;
}

.rounded-outline-btn:hover {
  color: var(--brandColor) !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* Default form element settings */
input:focus, select:focus, textarea:focus{
  box-shadow: none !important;
}

.vdp-datepicker__calendar .cell.selected {
  background: var(--brandColor) !important;
  color: white !important;
}
.vdp-datepicker__calendar .cell:hover{
  border: 1px solid var(--brandColor) !important;
}
.vdp-datepicker input{
  border: none !important;
  width: 100%;
  cursor: pointer;
}
.vdp-datepicker input:focus{
  outline: none !important;
}
/* Remove textarea bottom resizer */
.textarea-resize {
  resize: none;
}

/* DEFAULT AND COMMON FORM CSS */
.hover-lime:hover{
  transition: all 0.3s ease !important;
  color: var(--lime) !important;
}

.hover-brand:hover{
  transition: all 0.3s ease !important;
  color: var(--brandColor) !important;
}
.hover-shadow:hover{
  transition: all 0.3s ease !important;
  box-shadow: 0 1px 1px rgba(102, 45, 145, 0.11), 0 2px 2px rgba(102, 45, 145, 0.11), 0 4px 4px rgba(102, 45, 145, 0.11), 0 6px 8px rgba(102, 45, 145, 0.11), 0 8px 16px rgba(102, 45, 145, 0.11);
}
.basic-form input:focus{
  border: 1px solid var(--brandColor);
}
.basic-form textarea:focus{
  outline: none !important;
  border: 1px solid var(--brandColor) !important;
  color: #525252;
}

.basic-form input::placeholder, .basic-form textarea::placeholder{
  color: #a7a7a7;
}

.form-check-input:checked{
  background-color: var(--brandColor) !important;
  border-color: var(--brandColor) !important;
}

.task-form {
  padding: 30px 30px 50px;
}
@media(max-width:424px){
  .task-form {  padding: 20px 10px 30px;}
}
.task-form input:focus{
  border: 1px solid var(--brandColor) !important;
  outline: none !important;
}
.task-form textarea:focus{
  border: 1px solid var(--brandColor) !important;
  color: #525252;
}

.placeholder-font::placeholder{
  color: rgb(148, 146, 146);
  font-size: 14px;
}

/* Common css for customized radio and checkbox design */
.custom-radio-or-check-input{
  display: none;
}
.custom-radio-or-check-input:checked+.custom-radio-or-check-label {
  background-color: var(--brandColor);
}
.custom-radio-or-check-input:checked+.custom-radio-or-check-label .radio-or-check-content h6{
  color: white;
}
.custom-radio-or-check-input:checked+.custom-radio-or-check-label .radio-or-check-content p{
  color: white;
}
.custom-radio-or-check-input:checked+.custom-radio-or-check-label .radio-or-check-content span{
  color: white;
}
.custom-radio-or-check-input:checked+.custom-radio-or-check-label {
  background-color: var(--brandColor);
}
.custom-radio-or-check-input:checked+.custom-radio-or-check-label .radio-or-check-content .custom-radio-or-check-icon {
  color: #fff !important;
}
.custom-radio-or-check-label{
  background-color: #fff;
  transition: all 250ms ease;
  will-change: transition;
  text-align: center;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid rgb(148, 146, 146);
  border-radius: 5px;
}
.radio-or-check-content {
  position: absolute;
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 17px;
  user-select: none;
  color: #424242;
}
.radio-or-check-content::before {
  font-size: 1.2em;
  font-family: FontAwesome;
  display: block;
  transform: translateY(-80px);
  opacity: 0;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
}
.radio-or-check-content h6 {
  margin-top: 10px;
}

.radio-or-check-content p {
  font-size: 14px;
  color: #525252;
  margin-bottom: 0;
  line-height: 14px;
}

/* Vue js modal css */
.vm--modal{
  top: 110px !important;
  height: 80vh !important;
  overflow-y: scroll !important;
}

.vm--modal::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.vm--modal::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.vm--modal::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #bcb2c4;
}

@media(max-width:619px){
  .vm--modal{
    width: 95% !important;
    margin: 0 auto;
    left: 0 !important;
    right: 0 !important;
  }
}

.listing-filter .input-group-text{
  background: none !important;
  border: 1px solid var(--purpleLight) !important;
}
.review-select .multiselect{
  border: 1px solid var(--purpleLight) !important;
  border-radius: 2px;
  width: 230px !important;
  color: #424242 !important;
}
.review-select .multiselect__placeholder{
  color: var(--brandColor) !important;
}
.multiselect__option--highlight{
  background: var(--brandColor) !important;
}
.guideline-link{
  color: #424242;
  text-decoration: underline !important;
  font-size: 20px;
}
@media(max-width:991px){
  .review-select .multiselect{
    width:180px !important;
  }
}


.tag-input:focus .v3ti-tag-wrapper{
  border: 1px solid var(--brandColor) !important;
}
.tag-input .v3ti-tag{
  background-color: var(--lime) !important;
}
.badge-icon{
  height: 35px;
  width: 35px;
  object-fit: cover;
}
.dropdown-toggle::after {
  vertical-align: 1px !important;
}

/* Remove inside border of vue multiselect input */
.multiselect__tags .multiselect__input{
  border: none !important;
}

.listing-form-view-height{
  height: 62vh;
  overflow-y: hidden;
}
.listing-form-view-height:hover{
  overflow-y: overlay;

}
.listing-form-view-height::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
border-radius: 10px;
background-color: #F5F5F5;
}

.listing-form-view-height::-webkit-scrollbar
{
width: 3px;
background-color: #F5F5F5;
}

.listing-form-view-height::-webkit-scrollbar-thumb
{
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #ece0f3;
}
.post-task-form-height{
  height: 60vh;
  overflow-y: hidden;
}
.post-task-form-height:hover{
  overflow-y: overlay;

}
.post-task-form-height::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
border-radius: 10px;
background-color: #F5F5F5;
}

.post-task-form-height::-webkit-scrollbar
{
width: 3px;
background-color: #F5F5F5;
}

.post-task-form-height::-webkit-scrollbar-thumb
{
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #ece0f3;
}

/* Remove inside border of input type tags */
.vue-input-tag-wrapper input{
  border: none !important;
}

/* To remove google logo from google autocomplete dropdown */
.pac-container:after {
  background-image: none !important;
  height: 0px;
}
.text-stroke{
  font-size: 28px !important;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--brandColor);
}
.v3ti-new-tag:focus{
  outline: none !important;
  border: none !important;
}